{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HTML Forms</title>
	<link rel="stylesheet" href="{% static 'css/one.css' %}">
</head>
<body>
	<div>
		<form>
			<table border="2px" cellpadding="10px">
				<tr>
					<th colspan="2">Registration Form</th>
				</tr>
				<tr>
					<td>Student Name</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td>Father's Name</td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td>Mother's Name</td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td>Date of Birth</td>
					<td><input type="date"/></td>
				</tr>
				<tr>
					<td>Email ID</td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td>Mobile No.</td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><textarea rows="5 cols=6"></textarea></td>
				</tr>
				<tr>
					<td>State</td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td>City</td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit"/></td>
				</tr>
					
			</table>
		</form>
    </div>
 </body>
 </html>



