{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Indian Cricketers</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div id="links">
	    <a href="#Home">Home</a>
		<a href="#Virat">Virat</a>
		<a href="#Rohit">M.S.dhoni</a>
		<a href="#Shreyas">Rohit</a>
		<a href="#KL Rahul">Yuvaraj</a>
	</div>
	<div id="Home">
		<h2>Indian Legend Cricketers</h2>
		<p>Cricket is a bat-and-ball game played between two teams of eleven players on a field at the centre of which is a 22-yard (20-metre) pitch with a wicket at each end, each comprising two bails balanced on three stumps. The batting side scores runs by striking the ball bowled at one of the wickets with the bat and then running between the wickets, while the bowling and fielding side tries to prevent this (by preventing the ball from leaving the field, and getting the ball to either wicket) and dismiss each batter (so they are "out").</p>
		<table>
			<tr>
				<td><img src="{% static 'images/cricketteam.jpg' %}" width="300px" height="200px"></td>
                <td><img src="{% static 'images/cricketteam1.jpg' %}" width="300px" height="200px"></td>
			</tr>
		</table>
		<p>Cricket is a bat-and-ball game played between two teams of eleven players on a field at the centre of which is a 22-yard (20-metre) pitch with a wicket at each end, each comprising two bails balanced on three stumps. The batting side scores runs by striking the ball bowled at one of the wickets with the bat and then running between the wickets, while the bowling and fielding side tries to prevent this (by preventing the ball from leaving the field, and getting the ball to either wicket) and dismiss each batter (so they are "out").</p>		
	</div>
	<div id="Virat">
		<h2>Viart Kohli</h2>
		<p>Virat Kohli is born on 5 November 1988 he is an Indian international cricketer and the former captain of the Indian national cricket team. Widely regarded as one of the greatest batsmen in the history of the sport,[4] he plays for Royal Challengers Bangalore in the IPL and Delhi in domestic cricket.</p>
		<table>
			<tr>
				<td><img src="{% static 'images/virat1.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/virat2.jpeg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/virat3.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/virat4.jpg' %}"width="300px" height="200px"></td>
			</tr>
		</table>
		<p>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. Widely regarded as one of the greatest batsmen in the history of the sport, he plays for Royal Challengers Bangalore in the IPL and Delhi in domestic cricket.</p>
	</div>
	<div id="Rohit">
		<h2>Rohit Sharma</h2>
		<p>Rohit Gurunath Sharma is an Indian international cricketer and the current captain of India national cricket team in all formats. Sharma is known for his timing, elegance, six-hitting abilities.</p>
		<table>
			<tr>
				<td><img src="{% static 'images/rohit1.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/rohit2.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/rohit3.webp' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/rohit4.webp' %}" width="300px" height="200px"></td>
			</tr>
		</table>
		<p>Rohit Gurunath Sharma is an Indian international cricketer and the current captain of India national cricket team in all formats. Sharma is known for his timing, elegance, six-hitting abilities.</p>
	</div>
	<div id="Shreyas">
		<h2>Shreyas Iyer</h2>
		<p>Shreyas Santosh Iyer is an Indian international cricketer who plays for the Indian cricket team as a right-handed batter. He has played in all formats for the Indian team.</p>
		<table>
			<tr>
				<td><img src="{% static 'images/shreyas1.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/shreyas2.webp' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/shreyas3.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/shreyas4.jpg' %}" width="300px" height="200px"></td>
			</tr>
		</table>
		<p>Shreyas Santosh Iyer is an Indian international cricketer who plays for the Indian cricket team as a right-handed batter. He has played in all formats for the Indian team.</p>
	</div>
	<div id="KL Rahul">
		<h2>KL Rahul</h2>
		<p>Kannanur Lokesh Rahul is an Indian international cricketer. A right-handed wicketkeeper-batsman, Rahul plays for Karnataka at the domestic level and captains the Lucknow Super Giants in the Indian Premier League. He is a current vice-captain of the Indian cricket team.</p>
		<table>
			<tr>
				<td><img src="{% static 'images/rahul1.webp' %}"width="300px" height="200px"></td>
				<td><img src="{% static 'images/rahul2.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/rahul3.jpg' %}" width="300px" height="200px"></td>
				<td><img src="{% static 'images/rahul4.jpg' %}" width="300px" height="200px"></td>
			</tr>
		</table>
		<p>Kannanur Lokesh Rahul is an Indian international cricketer. A right-handed wicketkeeper-batsman, Rahul plays for Karnataka at the domestic level and captains the Lucknow Super Giants in the Indian Premier League. He is a current vice-captain of the Indian cricket team.</p>
	</div>
	<div id="footer">
		<h2>Copyright:&copy;2023</h2>
		<small>All Rights Are&reg;Reserved</small>
		<p>Developed & Maintained By<a href="">BCCI</a></p>
	</div>
	
</body>
</html>