{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HTML Tables</title>
</head>
<body>
    <center>
	    <h1>Trainers info:-</h1>
	    <table border='1px' style="border-collapse: collapse;" cellpadding="10px">
	    <thead>
		    <tr>
		        <th colspan="3" >Schedule</th> 
		    </tr>
	    </thead>
	    <tbody>
		    <tr>
                <th rowspan="8">Work Out with David</th>
			</tr>
		    <tr>
			    <td rowspan='2'>January 8</td>
			    <td>Step Acrobics</td>
			</tr>
		    <tr>
			    <td>Pilates</td>
			</tr>
		    <tr>
			    <td rowspan='2'>January 15</td>
			    <td>Spinning</td>
			</tr>
		    <tr>
			    <td>Yoga</td>
		    </tr>
		    <tr>
			    <td rowspan='2'>January 22</td>
			    <td>kickboxing</td>
		    </tr>
		    <tr>
	            <td>Free Weights</td>
		    </tr>
		    <tr>
			    <th rowspan="2" ><p>Space is limited.Please sign up as soon as Possible.</p></th>
		    </tr>
		</tbody>
    </center>
</body>
</html>